<%- include('./header.ejs')   %>
<!-- <%   %> (ejs syntax) -->

<div class="container-fluid aboutbg">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-light aboutfnt">
            <h1 class="text-center">ABOUT</h1>
            <p class="text-center mt-3">Over 35 Years' Experience, High-caliber IT Solutions, Award-Winning <br>
                Professional and Managed IT knowledge, Subject Matter Experts</p>
        </div>
        <div class="col-md-2"></div>
    </div><!--row end-->
</div><!--container-fluid end-->

<div class="container mt-4">
    <h1 class="text-center">ABOUT THIS <b style="color: #146C94;">MPCT</b></h1>
    <div class="row">
        <div class="col-md-7">
            <p class="about-para">
                MPCT is taking action to implement environmental awareness policies. In this, we encourage the
                use of mass transit by offering a commuter benefits program and by offering tax benefits to our
                professionals who use mass transit. In the U.S. alone, mass transit saves drivers 1.4 billion
                gallons of gasoline per day and produces 95% less carbon monoxide—and about half as much carbon
                dioxide—per passenger mile as private vehicles. Our London office is a short walk from local train
                stations, bus stops, making mass transit use a convenient and inexpensive solution.
            </p>
        </div>
        <div class="col-md-5">
            <img src="Image/about3.webp" alt="about-img" class="w-100">
        </div>
    </div><!--row end-->
</div><!--container end-->

<div class="container-fluid aboutbg2">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 abtcont">
            <h1 class="text-center">WORLD CLASS STUDENT SERVICES</h1>
            <p class="">Our global presence spans two continents, but we ensure our approach remains local. Align creates and
                defines a client-specific, solution focused approach to projects in the early stages of the engagement
                that will be maintained throughout the project's delivery.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div><!--container-fluid end-->
<%- include('./footer.ejs')   %>