<!-- footer start -->
<footer>
    <div class="container-fluid mt-4">
        <div class="row" style="background-color: #146C94;">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="/Image/MPCT_Logo.jpg" alt="" style="width: 80%; margin-top: 3cm;border-radius: 50%;">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6  mt-5">
                <h1 class="contact"><span style="color: #19A7CE;">CONTACT</span><span style="color: white;">
                        US</span></h1>
                <p class="footer-para">
                    College of the region in 1996 on the name of great Indian legendry Maharana Pratap College of
                    Technology, which is now the parent organization of the group society under the leadership of
                    Lt. Shri Ram Singh Dhakre finished its second venture by establishing first Dental College of
                    the region in 2003, this college again has set now dimension in the field of medical education.
                    After this in late 20s the society promoted and established nursing college , Allied Science
                    College and Management institute.
                </p>
                <div class="row">
                    <div class="col-md-6 ">
                        <h6 class="contact" style="color: #19A7CE;">ADDRESS</h6>
                        <p class="text-light">
                            56R5+5HQ City Centre, Putlighar Rd, Near Collectorate, Gwalior, Madhya Pradesh 474006
                        </p>
                    </div>
                    <div class="col-md-6 ">
                        <h6 class="contact" style="color: #19A7CE;">ENQUIRY</h6>
                        <p class="text-light" style="margin-bottom: 3cm;">
                            Email:
                            <b style="color: #19A7CE; font-weight: 400;">customercare@mpct.in</b>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <a href="#"><i class="fa-brands fa-facebook icons"
                                    style="color: #19A7CE; font-size: 40px;"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram icons"
                                    style="color: #19A7CE; font-size: 40px; margin-left: 3px;"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp icons"
                                    style="color: #19A7CE; font-size: 40px; margin-left: 3px;"></i></a>
                        </div>
                    </div><!--row end-->
                    <br><br>
                </div><!--row end-->
            </div>

        </div><!--row end-->
    </div><!--container end-->
</footer>
<!-- footer end -->

<script>
    let preloader = document.getElementById('loading');
    function myFunction() {
        preloading.style.display = 'none'
    }
</script>

</body>

</html>